{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>ToDoアプリケーション</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
  </head>

  <body>
    <h1>タスクを編集</h1>
    <p>以下のフォームからタスクを編集できます。</p>
    <form action="{% url 'update' task.id%}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タイトル</label><br>
        <input id="titleInput" name="title" type="text" placeholder="タイトルを入力" value="{{ task.title }}">
      </div>

      <div>
        <label for="categoryInput">カテゴリ</label><br>
        <select id="categoryInput" name="category">
          {% for value, label in category_choices %}
          <option value="{{ value }}" {% if task.category == value %}selected{% endif %}>{{ label }}</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <label for="dueInput">期限:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local" value="{% if task.due_at %}{{ task.due_at|date:'Y-m-d H:i' }}{% endif %}">
      </div>
      <div>
        <button type="submit">送信</button>
      </div>
    </form>
    <br>
  </body>

</html>